@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
body
{
  background-image: url("./assets/bg5.jpg");
  background-repeat:  no-repeat;
  background-size: 100% 300%;
  background-attachment: fixed;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
}
.box
{
  /* background-color: plum; */
  background: transparent;
  color: white;
  width: 30%;
  height: 70vh;
  /* align-content: center; */
  text-align: center;
  margin: auto;
  position: relative;
  top: 15vh;
  border-radius: 10px;
  box-shadow: 7px 7px 6px black;
  border: 2px solid white;
}
.pass-gen
{
  width: 20vw;
  height: 5vh;
  border: 1px solid white;
  box-shadow: 3px 4px 4px black;
  text-align: center;
  outline: none;
}
.length-no
{
  width: 32px;
}
.gen
{
  background: transparent;
  outline: none;
  border: 1.5px solid white;
  color: white;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.5s;
  box-shadow: 3px 3px 4px black;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  font-size: 15px;
}
.gen:hover
{
  transform: scale(1.1,1.1);
}
.copypass
{
  width: 2.8vw;
  height: 2.8vw;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}
@media only screen and (max-width:600px)
{
  .box
  {
    width: 96%;
    height: 70vh;
    font-size: 25px;
  }
  input[type="checkbox"]
  {
    width: 20px;
    height: 20px;
  }
  .gen
  {
    font-size: 20px;
  }
}

@media only screen and (min-width:601px) and (max-width: 1024px)
{
  .box
  {
    width: 90%;
    height: 65vh;
    font-size: 30px;
  }
  .gen
  {
    font-size: 24px;
  }
  input[type="checkbox"]
  {
    width: 24px;
    height: 24px;
  }
}

@media only screen and (max-width: 1024px) and (max-height: 600px) {
  .box {
    width: 80%;
    height: 75vh;
    font-size: 15px;
  }

  .pass-gen {
    width: 50vw;
    height: 5vh;
  }

  .gen {
    font-size: 20px;
  }
}

@media only screen and (max-width: 360px) and (max-height: 740px) {
  .box {
    width: 85%;
    height: 65vh;
    font-size: 15px;
  }

  .pass-gen {
    width: 50vw;
    height: 5vh;
  }

  .gen {
    font-size: 20px;
  }
}
@media only screen and (max-width: 540px) and (max-height: 720px) {
  .box {
    width: 90%;
    height: 205vh;
    font-size: 10px;
  }

  .pass-gen {
    width: 50vw;
    height: 5vh;
  }

  .gen {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) and (max-height: 1024px) {
  .box {
    width: 70%;
    height: 60vh;
    font-size: 24px;
  }

  .pass-gen {
    width: 50vw;
    height: 5vh;
  }

  .gen {
    font-size: 20px;
  }
}
/* @media only screen and (max-width: 1280px) and (max-height: 800px) {
  .box {
    width: 70%;
    height: 81vh;
    font-size: 26px;
  }

  .pass-gen {
    width: 50vw;
    height: 5vh;
  }

  .gen {
    font-size: 22px;
  }
} */